<div class="product-container mt-3">
    <h2 class="mb-3">Product Details</h2>
    <div class="row">
        <div class="col-lg-8">
            <p><strong>Common Name:</strong> {{ productDetail.product.product_name }}</p>
            <p><strong>Quantity:</strong> {{ productDetail.product.quantity }}</p>
            <p><strong>Packaging:</strong> {{ productDetail.product.packaging }}</p>
            <p><strong>Brands:</strong> {{ productDetail.product.brands }}</p>
            <p><strong>Categories:</strong> {{ productDetail.product.categories }}</p>
        </div>
        <div class="col-lg-4 text-center">
            <img src="{{productDetail.product.selected_images.front.display.it}}" alt="Product Image" class="img-fluid" width="50%">
        </div>
    </div>
    <a href="#" (click)="goBack()">Return</a>
</div>