<h1>Search</h1>
<p>
  <input type="text" #inputElement>
  <button (click)="onSearch(inputElement)">Search</button>
</p>

<div *ngIf="searchResults$ | async as results">
  <div *ngIf="!results.products || results.products.length === 0">
    No products found for '{{ searchTerm }}'
  </div>

  <div *ngIf="results.products && results.products.length > 0">
    <h2>Results</h2>
    <div class="row">
      <div class="col-sm-6 col-md-4" *ngFor="let product of results.products">
        <div class="thumbnail">
          <img [src]="product.image_front_small_url" class="img-responsive" alt="{{ product.product_name }}">
          <div class="caption">
            <h3>
              <a [routerLink]="['/products', product.id]">{{ product.product_name }}</a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
